In [182]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.pandas.set_option("display.max_columns", None)

In [183]:
dataset = pd.read_csv("titanic.csv")

In [184]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [185]:
dataset = dataset.drop(["PassengerId", "Name", "Ticket"], axis = 1)

In [186]:
dataset.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [187]:
dataset.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [188]:
nan_num_feature = [feature  for feature in dataset.columns if dataset[feature].isnull().sum()>0 and dataset[feature].dtype != "O"]
nan_num_feature

['Age']

In [189]:
num_mean_value = dataset["Age"].mean()
num_mean_value = (int)(num_mean_value)
num_mean_value

29

In [190]:
dataset["Age"] = dataset["Age"].fillna(num_mean_value)

In [191]:
dataset["Age"].isnull().sum()

0

In [192]:
nan_cate_feature = [feature for feature in dataset.columns if dataset[feature].isnull().sum()>0 and dataset[feature].dtype == "O"]
nan_cate_feature

['Cabin', 'Embarked']

In [193]:
for feature in nan_cate_feature:
    dataset[feature] = dataset[feature].fillna("Missing")

In [194]:
dataset.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [195]:
dataset.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare    Cabin Embarked
0         0       3    male  22.0      1      0   7.2500  Missing        S
1         1       1  female  38.0      1      0  71.2833      C85        C
2         1       3  female  26.0      0      0   7.9250  Missing        S
3         1       1  female  35.0      1      0  53.1000     C123        S
4         0       3    male  35.0      0      0   8.0500  Missing        S

In [196]:
cate_feature = [feature for feature in dataset.columns if dataset[feature].dtype == "O"]
cate_feature

['Sex', 'Cabin', 'Embarked']

In [197]:
for feature in cate_feature:
    li = dataset[feature].unique()
    li = list(li)
    a = len(li)
    li1 = range(0, a)
    dataset[feature].replace(li, li1, inplace = True)

In [198]:
dataset.head()
columns_name = dataset.columns

In [199]:
columns_name

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin',
       'Embarked'],
      dtype='object')

In [200]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
scalar.fit(dataset)

MinMaxScaler()

In [201]:
dataset = pd.DataFrame(scalar.transform(dataset))

In [202]:
dataset.head()

     0    1    2         3      4    5         6         7         8
0  0.0  1.0  0.0  0.271174  0.125  0.0  0.014151  0.000000  0.000000
1  1.0  0.0  1.0  0.472229  0.125  0.0  0.139136  0.006803  0.333333
2  1.0  1.0  1.0  0.321438  0.000  0.0  0.015469  0.000000  0.000000
3  1.0  0.0  1.0  0.434531  0.125  0.0  0.103644  0.013605  0.000000
4  0.0  1.0  0.0  0.434531  0.000  0.0  0.015713  0.000000  0.000000

In [203]:
dataset.columns = columns_name

In [204]:
dataset.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare     Cabin  Embarked
0       0.0     1.0  0.0  0.271174  0.125    0.0  0.014151  0.000000  0.000000
1       1.0     0.0  1.0  0.472229  0.125    0.0  0.139136  0.006803  0.333333
2       1.0     1.0  1.0  0.321438  0.000    0.0  0.015469  0.000000  0.000000
3       1.0     0.0  1.0  0.434531  0.125    0.0  0.103644  0.013605  0.000000
4       0.0     1.0  0.0  0.434531  0.000    0.0  0.015713  0.000000  0.000000

In [205]:
dataset = dataset.drop(["Cabin"], axis = 1)

In [206]:
dataset.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0       0.0     1.0  0.0  0.271174  0.125    0.0  0.014151  0.000000
1       1.0     0.0  1.0  0.472229  0.125    0.0  0.139136  0.333333
2       1.0     1.0  1.0  0.321438  0.000    0.0  0.015469  0.000000
3       1.0     0.0  1.0  0.434531  0.125    0.0  0.103644  0.000000
4       0.0     1.0  0.0  0.434531  0.000    0.0  0.015713  0.000000

In [207]:
x = dataset.iloc[:, 1:]
y = dataset["Survived"]

In [208]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 1)

In [209]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [210]:
y_predicted = regressor.predict(x_test)

In [211]:
from sklearn.metrics import r2_score
score = r2_score(y_test, y_predicted)
score

0.3261079856337832